body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff7d7d;
}

.container {
    display: flex;
}

.left-box, .right-box {
    /* border: 1px solid #df1b1b; */
    padding: 20px;
    margin: 10px;
    background-color: floralwhite;
}

.product-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
